.paper-container {
  padding: 16px;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.product-title {
  text-align: center;
}

.product-subtitle {
  text-align: center;
}

.product-image {
  width: 100%;
}

.chip-container {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  .chip-item {
    margin: 2px;
    border-radius: 6px;
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
  }
}
