
.paper-container {
  padding: 16px;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.product-image {
  width: 100%;
}

.chip-container {
  margin-top: 16px;
  .chip-item {
    margin: 2px;
    border-radius: 8px;
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
  }
}
