/* App.scss */

.paper-container {
  padding: 16px;
}

.product-image {
  width: 100%;
}

.chip-container {
  margin-top: 16px;
}

.chip-item {
  margin: 4px;
  margin-bottom: 4px;
}

.link-container {
  margin-top: 16px;
}

.link-item {
  margin-right: 16px;
}
